
<%- include("partials/header"); -%>

    <p class='heading'> <%= startingContent %> </p>

  <div class="row">
  <%  posts.forEach(function(post){ %>
    <div class="onepreview col-lg-4">
    <h1 class="resumename"><%=post.name%></h1>
    
    <p>   
    
      
    <iframe class='preview' src="/pdfs/<%=post._id%>.pdf"></iframe>
    <button class="btn mainbtns btn-primary"><a href="/posts/<%=post._id%>" target="_blank">View full resume</a></button>
    <button class="btn mainbtns btn-primary"><a href="/edit/<%=post._id%>">Edit this resume</a></button> <br>
    
    </p>

  </div>
    <% }) %>
  </div>

<%- include("partials/footer"); -%>
